.navbar {
    top: 0;
    right: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 2.5% 2.5% ; 
    z-index: 1000;
    background: linear-gradient(135deg, #02111B, #001921);
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
}